#title {
  color: #ffffff;
}

#first {
  color: #fff912;
}

#second {
  color: #12ff32;
}

#third {
  color: #1b459e;
}

body {
  background: #27bef5;
  text-align: center;
  font-family: "Open-Sans", sans-serif;
}

p {
  font-weight: 600;
}

h1 {
  font-weight: 800;
}

#todoInput {
  width: 500px;
  border-radius: 4px;
  padding: 5px;
}

li {
  width: 500px;
  border-radius: 20px;
  border-style: solid;
  padding: 8px;
  background-color: cornflowerblue;
  text-align: left;
  margin: 5px;
}

ul {
  margin: 50px;
  padding: 20px;
}

#submitButton {
  padding: 5px;
  color: #27bef5;
  background-color: #1b459e;
  border-radius: 4px;
}

.myStyle {
  background-color: limegreen;
}

.deleteButton {
  text-align: right;
}
