#h1a {
  color: #ffffff;
}

#h3a {
  color: #fff912;
}

#h3b {
  color: #12ff32;
}

#h3c {
  color: #1b459e;
}

body {
  background: #27bef5;
  text-align: center;
}

#todoInput {
  width: 500px;
  border-radius: 4px;
  padding: 5px;
}

#submitButton {
  padding: 5px;
  color: #27bef5;
  background-color: #1b459e;
  border-radius: 4px;
}
