* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
fieldset {
  background-color: #7a7a7a;
  padding: 10px;
  height: 760px;
  width: 720px;
  text-align: center;
  border: none;
  margin: 0px auto;
}
header {
  height: 40px;
  background: #007ba4;
  width: 100vw;
  text-align: auto;
  background-color: #3b3935;
  box-sizing: border-box;
}

footer {
  height: 40px;
  background: #007ba4;
  width: 100vw;
  text-align: center;
  background-color: #3b3935;
  box-sizing: border-box;
}

a {
  text-align: center;
}

nav li {
  float: left;
  list-style-type: none;
  margin-top: 10px;
  padding-left: 10px;
  margin-left: 150px;
  color: #007ba4;
  height: 20px;
}
nav a {
  color: white;
}

body {
  background-image: linear-gradient(to left, purple, gold);
}

#monke {
  align-items: left;
  margin: 10px;
}

#boardContainer {
  display: grid;
  row-gap: 2px;
  column-gap: 2px;
  width: fit-content;
}

.gridCell {
  background: #eee;
  border: 3px solid black;
  width: 106px;
  height: 106px;
  border-radius: 4px;
}

.gridCell:hover {
  background-color: #7a7a7a;
  border-color: white;

td {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100px;
  height: 100px;
  display: block;
  vertical-align: middle;
}
html {
  font-size: 12px;
  font-family: "Lucida Console", "Courier New", monospace;
}
