body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
}
button {
    width: 60px;
    height: 60px;
    margin: 2px;
    font-size: 18px;
    border: 2px solid #444;
    border-radius: 8px;
    cursor: pointer;
}
.zeroButton {
    width: 124px;
}

#numberDisplay {
    width: 240px;
    height: 40px;
    font-size: 24px;
    padding: 5px;
    border: 2px solid #444;
    border-radius: 8px;
    margin: 0 auto 0px;
    text-align: center;
}