#formWrapper {
    border: 2px solid #000000;
    padding: 20px;
    width: 300px;
    background-color: #f2f2f2;
    border-radius: 5px;
    width: fit-content;
}

#title {
    text-align: left;
    color: #333333;
    font-family:  'Comic Sans MS', cursive, sans-serif;
}
#userNameWrapper, #radioWrapper, #checkBoxWrapper {
    margin-bottom: 15px;
    background-color: lightgray;
    padding: 10px;
    border: #000000 2px solid;
    border-radius: 5px;
    width: fit-content;
}   
#ika {
    width: 60px;
}