body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
	margin: auto;
	width: 50%;
}


.board {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
}

.column {
	flex-basis: 100%;
	flex: 1 1 0;
	padding: 6px;
	background: #eee;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.column-body {
	background-color: blueviolet;
	padding: 10px;
	border-radius: 6px;
}

h2 {
	white-space: nowrap;
	padding: 6px;
	margin-top: 2px;
	margin-bottom: 6px;
	border-radius: 4px;
	margin: 6px;
	text-align: center;
}

.todoHeader {
	background-color: indianred;
}

.inProgressHeader {
	background-color: lightyellow;
}

.testingHeader {
	background-color: lightseagreen;
}

.productionHeader {
	background-color: greenyellow;
}

.task {
	background-color: lightsteelblue;
	margin: 4px;
	padding: 4px;
	text-align: center;
	border-radius: 4px;
}

.task:hover {
	background-color: lightslategrey;
}
