html,
body {
	height: 100%;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	vertical-align: middle;
}

.hide {
	display: none;
}

.drag-over {
	border: 3px dashed red;
	padding: 4px;
	border-radius: 6px;
	min-height: 200px;
}

.container {
	background-color: lightgray;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	margin: auto;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	height: fit-content;
}

.nav-logo {
	color: white;
	font-size: 24px;
	font-weight: bold;
	padding: 10px;
}

.board {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 5px;
}

.scrumHeader {
	font-size: 24px;
	background-color: palevioletred;
	text-align: center;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 6px;
}

.input-group {
	margin: 5px;
}

.column {
	flex: 1 1 0;
	padding: 6px;
	background: #eee;
	border-radius: 8px;
}

.column-body {
	padding: 4px;
	border-radius: 6px;
	min-height: 200px;
}

h2 {
	white-space: nowrap;
	padding: 6px;
	margin-top: 2px;
	margin-bottom: 6px;
	border-radius: 4px;
	margin: 6px;
	text-align: center;
}

.todoHeader {
	background-color: indianred;
}

.inProgressHeader {
	background-color: lightyellow;
}

.testingHeader {
	background-color: lightseagreen;
}

.productionHeader {
	background-color: greenyellow;
}

.task {
	background-color: lightsteelblue;
	margin: 4px;
	text-align: center;
	height: revert;
	border: none;
	padding: 4px;
	border-radius: 6px;
	height: 20px;
}


.task:hover {
	background-color: lightslategrey;
}
