html,
body {
  height: 100%;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: start;
}

.column {
  padding: 6px;
  background: #eee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.column-body {
  padding: 4px;
  border-radius: 6px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
