.game-container {
  font-size: 32px;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 30px;
  justify-content: center;
  display: flex;
}

.game-element {
  border: 2px solid #333;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  border-radius: 360px;
}

.game-element:hover {
  border-color: #dc143c;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.clicked {
  background-color: #dc143c;
  color: #dc143c;
}
