.game-container {
  font-size: 32px;
  background-color: dimgrey;
  padding: 120px;
  margin: 30px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.game-element {
  border: 2px solid #333;
  padding: 20px;
  margin: 20px;
  background-color: aliceblue;
  text-align: center;
  border-radius: 360px;
  flex-grow: 1;
  flex-basis: 120px;
}

.score-board {
  padding: 10px;
  font-size: 24px;
  text-align: center;
  background-color: #e0e0e0;
}

.game-element:hover {
  border-color: #dc143c;
  background-color: darkgray;
  box-shadow: 0 0 10px black;
}

body {
  background-color: dimgray;
}

.clicked {
  background-color: #dc143c;
  color: #dc143c;
}
