.game-container {
  font-size: 32px;
  padding: 20px;
  margin: 30px;
  justify-content: center;
  display: flex;
}

.game-element {
  border: 2px solid #333;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  border-radius: 360px;
}

.score-board {
  font-size: 24px;
  text-align: center;
  background-color: #e0e0e0;
}

.game-element:hover {
  border-color: #dc143c;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

body {
  background-image: url(https://www.pbs.org/wnet/nature/files/2014/10/Monkey-Main-768x432.jpg);
}

.clicked {
  background-color: #dc143c;
  color: #dc143c;
}
